{% extends 'base.html' %}

{% block content %}
<b><h1>DETAIL</h1></b>
<hr>
<b><h1>{{question.title}}</h1></b>
<b><h3>Red TEAM</h3></b>
<h4>=>{{question.issue_a}}</h4>
<br><br><br>
<b><h3>Blue TEAM</h3></b>
<h4>=>{{question.issue_b}}</h4>
<hr>
<a href="{%url 'eithers:index'%}">BACK</a>
<hr>
<h3>댓글 작성</h3>
<form action="{%url 'eithers:comments_create' question.pk%}" method="POST">
  {% csrf_token %}
  {{comment_form}}
  <input type="submit">
</form>
<hr>
<h3>댓글 목록</h3>
{% for comment in comments %}
{% if comment.pick %}
<h5>RED-{{comment.content}}<br><br></h5>
{% else %}
<h5>BLUE-{{comment.content}}<br><br></h5>
{% endif %}
{%empty%}
<p>아직 의견이 없습니다.</p>
{% endfor %}
{% endblock content %}